<a href="https://colab.research.google.com/github/eaguilar98/ems_crm/blob/main/01_EDA_EMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisis de Urgencias medicas Cruz Roja Méxicana del La Paz BCS

### Informacion comprendida entre 2007-11

**ABSTRACT**

Through information that has been gathered over the years, in order to have a clear picture with regard to Emergency Medical Care in La Paz, Baja California Sur, we can say that the Emergency Service in this Zone provides care to an average of 400 per month.

Decease caused by injuries are a worldwide problem with statistics reflecting nearly 16,000 daily deaths, mainly more to cardio-vascular disorders and cancer with figures of approximately 152,000 per year; children and young adults are being killed by accidents rather than by all of above deceases together.

The Emergency Medical Team consists of a group of health-care givers who provide the injured (clinic-trauma) or sick patients emergency attention and transportation within their pertinent coverage areas or jurisdiction. Every emergency unit is a part of the pre-hospital and hospital medical emergency network that renders the multiple services to comply with the patient’s appropriate health-care requirements. One of the fundamentals is prevention. 

By using state-of the- art technology in the seek of well-based strategies. We will be prepared for a new vision in emergency medical services, using previous experience business intelligence and daily practice together with the information so generated, for all the areas involved in medical emergencies. 

Previous historical data will then show us a more clear and efficient picture about the performance of the city itself in the emergency area, is possible to generate awareness campaigns among the population and have an operational area in this Mexican Red Cross better prepared in all respects but with a major emergency to address the most frequent in the town.

In [33]:
# Este archivo contiene la informacion general relacionada a la urgencia
urgencias_medicas = '/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/urgencias_medicas.csv'

# Este archivo contiene la información relacionada a todo lo que rodea a la urgencia
evaluacion_escena='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/evaluacion_escena.csv'

# Este archivo contiene la informacion relacionada al estado actual del paciente, aqui nos permite identificar los grandes pilares de la atención
#El estado de la via area, la reserpiracion y la circulacion
evaluacion_inicial='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/evaluacion_inicial.csv'

#Este archivo contiene la informacion relacionadas a los signos vitales del paciente en la urgencia medica
signos_vitales='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/signos_vitales.csv'

# Aqui se registra el tratamiento suministrado al paciente durante el servicio
tratamiento='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/tratamiento.csv'

In [34]:
import pandas as pd
import numpy as np

#Importar informacion

#### **01 Urgencias medicas** 
###### Importar y limpiar información

In [35]:
# Data frame con la informacion general relacionada a una urgencia medica
um_df = pd.read_csv(urgencias_medicas)

In [36]:
um_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Folio                        7046 non-null   int64
 1   Fecha                        7046 non-null   object
 2   DiaSemana                    7046 non-null   int64
 3   TiempoRespuesta              7046 non-null   int64
 4   HoraDorada                   7046 non-null   int64
 5   MinutosPlatino               7046 non-null   int64
 6   TiempoLlegada                7046 non-null   int64
 7   TiempoServicio               7046 non-null   int64
 8   TiempoTraslado               7046 non-null   int64
 9   MotivoAtencion               7046 non-null   object
 10  AgenteCausal_OrigenProbable  5551 non-null   object
 11  NumeroUnidad                 6807 non-null   object
 12  Operador                     6805 non-null   object
 13  jefeServicio                 7046 non-null   object
 14  Prestador1                   1419 non-null   object
 15  Prestador2                   1419 non-null   object
 16  Filiacion                    6560 non-null   object
 17  Sexo                         7046 non-null   object
 18  EdadAnios                    7046 non-null   int64
 19  EdadMeses                    7046 non-null   int64
 20  Tipo_Paciente                7046 non-null   object
 21  CallePaciente                6153 non-null   object
 22  NumeroCasaPaciente           1647 non-null   object
 23  ColoniaPaciente              6103 non-null   object
 24  MunicipioPaciente            6352 non-null   object
 25  TelefonoPaciente             1486 non-null   object
 26  OcupacionPaciente            5282 non-null   object
 27  Derechohabiente              5974 non-null   object
 28  CondicionPaciente            7046 non-null   object
 29  PrioridadPaciente            7046 non-null   object
 30  TraumaScore                  7046 non-null   int64
 31  Glassgow                     7046 non-null   int64
 32  Traslado                     7046 non-null   object
 33  TrasladoPacienteCondicion    7046 non-null   object
 34  TrasladoPacientePrioridad    7046 non-null   object
 35  Cancelado                    7046 non-null   int64
 36  C                            7046 non-null   int64
 37  UrgenciaTraslado             7046 non-null   object
 38  Horario                      7046 non-null   object
dtypes: int64(14), object(25)
memory usage: 2.1+ MB

In [37]:
# borrramos algunas columnas que no son necesarias para el analisis. Son columnas de libre texto que por el momento no aportan valor
um_df.drop(columns={
    "NumeroUnidad",
    "Operador",
    "jefeServicio",
    "Prestador1",
    "Prestador2",
    "Filiacion",
    "CallePaciente",
    "NumeroCasaPaciente",
    "ColoniaPaciente",
    "MunicipioPaciente",
    "TelefonoPaciente",
    "OcupacionPaciente"
}, inplace=True)

In [38]:
um_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Folio                        7046 non-null   int64
 1   Fecha                        7046 non-null   object
 2   DiaSemana                    7046 non-null   int64
 3   TiempoRespuesta              7046 non-null   int64
 4   HoraDorada                   7046 non-null   int64
 5   MinutosPlatino               7046 non-null   int64
 6   TiempoLlegada                7046 non-null   int64
 7   TiempoServicio               7046 non-null   int64
 8   TiempoTraslado               7046 non-null   int64
 9   MotivoAtencion               7046 non-null   object
 10  AgenteCausal_OrigenProbable  5551 non-null   object
 11  Sexo                         7046 non-null   object
 12  EdadAnios                    7046 non-null   int64
 13  EdadMeses                    7046 non-null   int64
 14  Tipo_Paciente                7046 non-null   object
 15  Derechohabiente              5974 non-null   object
 16  CondicionPaciente            7046 non-null   object
 17  PrioridadPaciente            7046 non-null   object
 18  TraumaScore                  7046 non-null   int64
 19  Glassgow                     7046 non-null   int64
 20  Traslado                     7046 non-null   object
 21  TrasladoPacienteCondicion    7046 non-null   object
 22  TrasladoPacientePrioridad    7046 non-null   object
 23  Cancelado                    7046 non-null   int64
 24  C                            7046 non-null   int64
 25  UrgenciaTraslado             7046 non-null   object
 26  Horario                      7046 non-null   object
dtypes: int64(14), object(13)
memory usage: 1.5+ MB

In [28]:
um_df.head()

    Folio       Fecha  DiaSemana  ...  C  UrgenciaTraslado     Horario
0  180390  04/10/2007          4  ...  1                NO  VESPERTINO
1  180391  04/10/2007          4  ...  1                SI  VESPERTINO
2  180392  04/10/2007          4  ...  1                SI  VESPERTINO
3  180393  04/10/2007          4  ...  1                NO  VESPERTINO
4  180395  04/10/2007          4  ...  1                NO  VESPERTINO

[5 rows x 27 columns]

In [39]:
# completamos la información faltante 

#Derechohabiente
um_df["Derechohabiente"].fillna("DESCONOCIDO", inplace=True)

#AgenteCausal_OrigenProbable
um_df["AgenteCausal_OrigenProbable"].fillna("DESCONOCIDO", inplace=True)

In [40]:
um_df.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Folio                        7046 non-null   int64
 1   Fecha                        7046 non-null   object
 2   DiaSemana                    7046 non-null   int64
 3   TiempoRespuesta              7046 non-null   int64
 4   HoraDorada                   7046 non-null   int64
 5   MinutosPlatino               7046 non-null   int64
 6   TiempoLlegada                7046 non-null   int64
 7   TiempoServicio               7046 non-null   int64
 8   TiempoTraslado               7046 non-null   int64
 9   MotivoAtencion               7046 non-null   object
 10  AgenteCausal_OrigenProbable  7046 non-null   object
 11  Sexo                         7046 non-null   object
 12  EdadAnios                    7046 non-null   int64
 13  EdadMeses                    7046 non-null   int64
 14  Tipo_Paciente                7046 non-null   object
 15  Derechohabiente              7046 non-null   object
 16  CondicionPaciente            7046 non-null   object
 17  PrioridadPaciente            7046 non-null   object
 18  TraumaScore                  7046 non-null   int64
 19  Glassgow                     7046 non-null   int64
 20  Traslado                     7046 non-null   object
 21  TrasladoPacienteCondicion    7046 non-null   object
 22  TrasladoPacientePrioridad    7046 non-null   object
 23  Cancelado                    7046 non-null   int64
 24  C                            7046 non-null   int64
 25  UrgenciaTraslado             7046 non-null   object
 26  Horario                      7046 non-null   object
dtypes: int64(14), object(13)
memory usage: 1.5+ MB

In [43]:
# agregar una columna como datetime
um_df["fecha_dt"]=pd.to_datetime(um_df["Fecha"])

In [44]:
um_df.head()

    Folio       Fecha  DiaSemana  ...  UrgenciaTraslado     Horario   fecha_dt
0  180390  04/10/2007          4  ...                NO  VESPERTINO 2007-04-10
1  180391  04/10/2007          4  ...                SI  VESPERTINO 2007-04-10
2  180392  04/10/2007          4  ...                SI  VESPERTINO 2007-04-10
3  180393  04/10/2007          4  ...                NO  VESPERTINO 2007-04-10
4  180395  04/10/2007          4  ...                NO  VESPERTINO 2007-04-10

[5 rows x 28 columns]

## 02 Evaluacion de la escena

La evaluación de la escena nos da el panorama de las dimensiones de los hechos que rodean el servicio de emergencia. Evalúa la seguridad de la misma, el mecanismo de la lesión estimando la energía que pudo haber sido transferida al paciente, realiza el conteo del número de víctimas para poder pedir ayuda adicional en caso de ser necesaria y toma las medidas necesarias para llevar un control de la columna cervical.

Importar y limpiar la información

In [45]:
evalEs_df=pd.read_csv(evaluacion_escena)

In [46]:
evalEs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Folio                   7046 non-null   int64
 1   Mecanismo_lesion        1803 non-null   object
 2   Naturaleza_enfermedad   3849 non-null   object
 3   CalleServicio           6816 non-null   object
 4   CalleServicio1          3692 non-null   object
 5   CalleServicio2          4737 non-null   object
 6   ColoniaServicio         6021 non-null   object
 7   MunicipioServicio       6802 non-null   object
 8   EstadoServicio          7046 non-null   object
 9   Ocurrencia              7045 non-null   object
 10  Colision                7046 non-null   int64
 11  Volcadura               7046 non-null   int64
 12  TipoVehiculo            843 non-null    object
 13  AutoMotor               7046 non-null   int64
 14  Motocicleta             7046 non-null   int64
 15  Bicicleta               7046 non-null   int64
 16  Maquinaria              7046 non-null   int64
 17  TipoColision            699 non-null    object
 18  ContraObjetoFijo        7046 non-null   int64
 19  ContraObjetoMovimiento  7046 non-null   int64
 20  TipoImpacto             674 non-null    object
 21  ImpactoFrontral         7046 non-null   int64
 22  ImpactoPosterior        7046 non-null   int64
 23  ImpactoLateral          7046 non-null   int64
 24  Hundimiento             7046 non-null   int64
 25  Parabrisas              668 non-null    object
 26  ParabrisasIntegro       7046 non-null   int64
 27  ParabrisasRoto          7046 non-null   int64
 28  Volante                 649 non-null    object
 29  VolanteIntegro          7046 non-null   int64
 30  VolanteDoblado          7046 non-null   int64
 31  BolsaAire               7046 non-null   int64
 32  CinturonSeguridad       7046 non-null   int64
 33  DentroVehiculo          7046 non-null   int64
 34  Eyectado                7046 non-null   int64
 35  Atropellado             7046 non-null   int64
 36  AtropelladoVehiculo     124 non-null    object
 37  AtropelladoAutoMotor    7046 non-null   int64
 38  AtropelladoMoto         0 non-null      float64
 39  AtropelladoBicicleta    7046 non-null   int64
 40  AtropelladoMaquinaria   7046 non-null   int64
 41  C                       7046 non-null   int64
dtypes: float64(1), int64(26), object(15)
memory usage: 2.3+ MB

In [ ]:
# borrramos algunas columnas que no son necesarias para el analisis. Son columnas de libre texto que por el momento no aportan valor