<a href="https://colab.research.google.com/github/eaguilar98/ems_crm/blob/main/01_EDA_EMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisis de Urgencias medicas Cruz Roja Méxicana del La Paz BCS

### Informacion comprendida entre 2007-11

**ABSTRACT**

Through information that has been gathered over the years, in order to have a clear picture with regard to Emergency Medical Care in La Paz, Baja California Sur, we can say that the Emergency Service in this Zone provides care to an average of 400 per month.

Decease caused by injuries are a worldwide problem with statistics reflecting nearly 16,000 daily deaths, mainly more to cardio-vascular disorders and cancer with figures of approximately 152,000 per year; children and young adults are being killed by accidents rather than by all of above deceases together.

The Emergency Medical Team consists of a group of health-care givers who provide the injured (clinic-trauma) or sick patients emergency attention and transportation within their pertinent coverage areas or jurisdiction. Every emergency unit is a part of the pre-hospital and hospital medical emergency network that renders the multiple services to comply with the patient’s appropriate health-care requirements. One of the fundamentals is prevention. 

By using state-of the- art technology in the seek of well-based strategies. We will be prepared for a new vision in emergency medical services, using previous experience business intelligence and daily practice together with the information so generated, for all the areas involved in medical emergencies. 

Previous historical data will then show us a more clear and efficient picture about the performance of the city itself in the emergency area, is possible to generate awareness campaigns among the population and have an operational area in this Mexican Red Cross better prepared in all respects but with a major emergency to address the most frequent in the town.

In [ ]:
# Este archivo contiene la informacion general relacionada a la urgencia
urgencias_medicas = '/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/urgencias_medicas.csv'

# Este archivo contiene la información relacionada a todo lo que rodea a la urgencia
evaluacion_escena='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/evaluacion_escena.csv'

# Este archivo contiene la informacion relacionada al estado actual del paciente, aqui nos permite identificar los grandes pilares de la atención
#El estado de la via area, la reserpiracion y la circulacion
evaluacion_inicial='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/evaluacion_inicial.csv'

#Este archivo contiene la informacion relacionadas a los signos vitales del paciente en la urgencia medica
signos_vitales='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/signos_vitales.csv'

# Aqui se registra el tratamiento suministrado al paciente durante el servicio
tratamiento='/content/drive/Othercomputers/Mi Portátil/BI/python/examples/EMS/tratamiento.csv'

In [ ]:
# Importar librerias

import pandas as pd
import numpy as np

#Importar informacion

#### **01 Urgencias medicas** 
###### Importar y limpiar información

In [ ]:
# Data frame con la informacion general relacionada a una urgencia medica
um_df = pd.read_csv(urgencias_medicas)

In [ ]:
um_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Folio                        7046 non-null   int64
 1   Fecha                        7046 non-null   object
 2   DiaSemana                    7046 non-null   int64
 3   TiempoRespuesta              7046 non-null   int64
 4   HoraDorada                   7046 non-null   int64
 5   MinutosPlatino               7046 non-null   int64
 6   TiempoLlegada                7046 non-null   int64
 7   TiempoServicio               7046 non-null   int64
 8   TiempoTraslado               7046 non-null   int64
 9   MotivoAtencion               7046 non-null   object
 10  AgenteCausal_OrigenProbable  5551 non-null   object
 11  NumeroUnidad                 6807 non-null   object
 12  Operador                     6805 non-null   object
 13  jefeServicio                 7046 non-null   object
 14  Prestador1                   1419 non-null   object
 15  Prestador2                   1419 non-null   object
 16  Filiacion                    6560 non-null   object
 17  Sexo                         7046 non-null   object
 18  EdadAnios                    7046 non-null   int64
 19  EdadMeses                    7046 non-null   int64
 20  Tipo_Paciente                7046 non-null   object
 21  CallePaciente                6153 non-null   object
 22  NumeroCasaPaciente           1647 non-null   object
 23  ColoniaPaciente              6103 non-null   object
 24  MunicipioPaciente            6352 non-null   object
 25  TelefonoPaciente             1486 non-null   object
 26  OcupacionPaciente            5282 non-null   object
 27  Derechohabiente              5974 non-null   object
 28  CondicionPaciente            7046 non-null   object
 29  PrioridadPaciente            7046 non-null   object
 30  TraumaScore                  7046 non-null   int64
 31  Glassgow                     7046 non-null   int64
 32  Traslado                     7046 non-null   object
 33  TrasladoPacienteCondicion    7046 non-null   object
 34  TrasladoPacientePrioridad    7046 non-null   object
 35  Cancelado                    7046 non-null   int64
 36  C                            7046 non-null   int64
 37  UrgenciaTraslado             7046 non-null   object
 38  Horario                      7046 non-null   object
dtypes: int64(14), object(25)
memory usage: 2.1+ MB

In [ ]:
# borrramos algunas columnas que no son necesarias para el analisis. Son columnas de libre texto que por el momento no aportan valor
um_df.drop(columns={
    "NumeroUnidad",
    "Operador",
    "jefeServicio",
    "Prestador1",
    "Prestador2",
    "Filiacion",
    "CallePaciente",
    "NumeroCasaPaciente",
    "ColoniaPaciente",
    "MunicipioPaciente",
    "TelefonoPaciente",
    "OcupacionPaciente"
}, inplace=True)

In [ ]:
um_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Folio                        7046 non-null   int64
 1   Fecha                        7046 non-null   object
 2   DiaSemana                    7046 non-null   int64
 3   TiempoRespuesta              7046 non-null   int64
 4   HoraDorada                   7046 non-null   int64
 5   MinutosPlatino               7046 non-null   int64
 6   TiempoLlegada                7046 non-null   int64
 7   TiempoServicio               7046 non-null   int64
 8   TiempoTraslado               7046 non-null   int64
 9   MotivoAtencion               7046 non-null   object
 10  AgenteCausal_OrigenProbable  5551 non-null   object
 11  Sexo                         7046 non-null   object
 12  EdadAnios                    7046 non-null   int64
 13  EdadMeses                    7046 non-null   int64
 14  Tipo_Paciente                7046 non-null   object
 15  Derechohabiente              5974 non-null   object
 16  CondicionPaciente            7046 non-null   object
 17  PrioridadPaciente            7046 non-null   object
 18  TraumaScore                  7046 non-null   int64
 19  Glassgow                     7046 non-null   int64
 20  Traslado                     7046 non-null   object
 21  TrasladoPacienteCondicion    7046 non-null   object
 22  TrasladoPacientePrioridad    7046 non-null   object
 23  Cancelado                    7046 non-null   int64
 24  C                            7046 non-null   int64
 25  UrgenciaTraslado             7046 non-null   object
 26  Horario                      7046 non-null   object
dtypes: int64(14), object(13)
memory usage: 1.5+ MB

In [ ]:
um_df.head()

,Folio,Fecha,DiaSemana,TiempoRespuesta,HoraDorada,MinutosPlatino,TiempoLlegada,TiempoServicio,TiempoTraslado,MotivoAtencion,...,PrioridadPaciente,TraumaScore,Glassgow,Traslado,TrasladoPacienteCondicion,TrasladoPacientePrioridad,Cancelado,C,UrgenciaTraslado,Horario
0,180390,04/10/2007,4,0,0,0,7,46,0,ENFERMEDAD,...,VERDE,0,15,NINGUNO,CRITICO INESTABLE,ROJO,0,1,NO,VESPERTINO
1,180391,04/10/2007,4,2,-58515335,343,10,23,-58515690,ENFERMEDAD,...,ROJO,0,0,NINGUNO,NO CRITICO ESTABLE,VERDE,0,1,SI,VESPERTINO
2,180392,04/10/2007,4,-5,0,0,-58515384,-58515384,0,ENFERMEDAD,...,ROJO,0,0,NINGUNO,CRITICO INESTABLE,ROJO,1,1,SI,VESPERTINO
3,180393,04/10/2007,4,1,0,0,1,32,0,TRAUMATISMO,...,VERDE,0,15,NINGUNO,NO CRITICO ESTABLE,VERDE,0,1,NO,VESPERTINO
4,180395,04/10/2007,4,0,0,0,20,6,0,ENFERMEDAD,...,VERDE,0,15,NINGUNO,NO CRITICO ESTABLE,VERDE,0,1,NO,VESPERTINO

In [ ]:
# completamos la información faltante 

#Derechohabiente
um_df["Derechohabiente"].fillna("DESCONOCIDO", inplace=True)

#AgenteCausal_OrigenProbable
um_df["AgenteCausal_OrigenProbable"].fillna("DESCONOCIDO", inplace=True)

In [ ]:
um_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 27 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Folio                        7046 non-null   int64
 1   Fecha                        7046 non-null   object
 2   DiaSemana                    7046 non-null   int64
 3   TiempoRespuesta              7046 non-null   int64
 4   HoraDorada                   7046 non-null   int64
 5   MinutosPlatino               7046 non-null   int64
 6   TiempoLlegada                7046 non-null   int64
 7   TiempoServicio               7046 non-null   int64
 8   TiempoTraslado               7046 non-null   int64
 9   MotivoAtencion               7046 non-null   object
 10  AgenteCausal_OrigenProbable  7046 non-null   object
 11  Sexo                         7046 non-null   object
 12  EdadAnios                    7046 non-null   int64
 13  EdadMeses                    7046 non-null   int64
 14  Tipo_Paciente                7046 non-null   object
 15  Derechohabiente              7046 non-null   object
 16  CondicionPaciente            7046 non-null   object
 17  PrioridadPaciente            7046 non-null   object
 18  TraumaScore                  7046 non-null   int64
 19  Glassgow                     7046 non-null   int64
 20  Traslado                     7046 non-null   object
 21  TrasladoPacienteCondicion    7046 non-null   object
 22  TrasladoPacientePrioridad    7046 non-null   object
 23  Cancelado                    7046 non-null   int64
 24  C                            7046 non-null   int64
 25  UrgenciaTraslado             7046 non-null   object
 26  Horario                      7046 non-null   object
dtypes: int64(14), object(13)
memory usage: 1.5+ MB

In [ ]:
# agregar una columna como datetime
um_df["fecha_dt"]=pd.to_datetime(um_df["Fecha"])

In [ ]:
um_df.head()

,Folio,Fecha,DiaSemana,TiempoRespuesta,HoraDorada,MinutosPlatino,TiempoLlegada,TiempoServicio,TiempoTraslado,MotivoAtencion,...,TraumaScore,Glassgow,Traslado,TrasladoPacienteCondicion,TrasladoPacientePrioridad,Cancelado,C,UrgenciaTraslado,Horario,fecha_dt
0,180390,04/10/2007,4,0,0,0,7,46,0,ENFERMEDAD,...,0,15,NINGUNO,CRITICO INESTABLE,ROJO,0,1,NO,VESPERTINO,2007-04-10
1,180391,04/10/2007,4,2,-58515335,343,10,23,-58515690,ENFERMEDAD,...,0,0,NINGUNO,NO CRITICO ESTABLE,VERDE,0,1,SI,VESPERTINO,2007-04-10
2,180392,04/10/2007,4,-5,0,0,-58515384,-58515384,0,ENFERMEDAD,...,0,0,NINGUNO,CRITICO INESTABLE,ROJO,1,1,SI,VESPERTINO,2007-04-10
3,180393,04/10/2007,4,1,0,0,1,32,0,TRAUMATISMO,...,0,15,NINGUNO,NO CRITICO ESTABLE,VERDE,0,1,NO,VESPERTINO,2007-04-10
4,180395,04/10/2007,4,0,0,0,20,6,0,ENFERMEDAD,...,0,15,NINGUNO,NO CRITICO ESTABLE,VERDE,0,1,NO,VESPERTINO,2007-04-10

In [ ]:
# Guardamos una version de la informacion limpia
um_df.to_csv("01_um_df.csv")

## 02 Evaluacion de la escena

La evaluación de la escena nos da el panorama de las dimensiones de los hechos que rodean el servicio de emergencia. Evalúa la seguridad de la misma, el mecanismo de la lesión estimando la energía que pudo haber sido transferida al paciente, realiza el conteo del número de víctimas para poder pedir ayuda adicional en caso de ser necesaria y toma las medidas necesarias para llevar un control de la columna cervical.

###Importar y limpiar la información

In [ ]:
evalEs_df=pd.read_csv(evaluacion_escena)

In [ ]:
evalEs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Folio                   7046 non-null   int64
 1   Mecanismo_lesion        1803 non-null   object
 2   Naturaleza_enfermedad   3849 non-null   object
 3   CalleServicio           6816 non-null   object
 4   CalleServicio1          3692 non-null   object
 5   CalleServicio2          4737 non-null   object
 6   ColoniaServicio         6021 non-null   object
 7   MunicipioServicio       6802 non-null   object
 8   EstadoServicio          7046 non-null   object
 9   Ocurrencia              7045 non-null   object
 10  Colision                7046 non-null   int64
 11  Volcadura               7046 non-null   int64
 12  TipoVehiculo            843 non-null    object
 13  AutoMotor               7046 non-null   int64
 14  Motocicleta             7046 non-null   int64
 15  Bicicleta               7046 non-null   int64
 16  Maquinaria              7046 non-null   int64
 17  TipoColision            699 non-null    object
 18  ContraObjetoFijo        7046 non-null   int64
 19  ContraObjetoMovimiento  7046 non-null   int64
 20  TipoImpacto             674 non-null    object
 21  ImpactoFrontral         7046 non-null   int64
 22  ImpactoPosterior        7046 non-null   int64
 23  ImpactoLateral          7046 non-null   int64
 24  Hundimiento             7046 non-null   int64
 25  Parabrisas              668 non-null    object
 26  ParabrisasIntegro       7046 non-null   int64
 27  ParabrisasRoto          7046 non-null   int64
 28  Volante                 649 non-null    object
 29  VolanteIntegro          7046 non-null   int64
 30  VolanteDoblado          7046 non-null   int64
 31  BolsaAire               7046 non-null   int64
 32  CinturonSeguridad       7046 non-null   int64
 33  DentroVehiculo          7046 non-null   int64
 34  Eyectado                7046 non-null   int64
 35  Atropellado             7046 non-null   int64
 36  AtropelladoVehiculo     124 non-null    object
 37  AtropelladoAutoMotor    7046 non-null   int64
 38  AtropelladoMoto         0 non-null      float64
 39  AtropelladoBicicleta    7046 non-null   int64
 40  AtropelladoMaquinaria   7046 non-null   int64
 41  C                       7046 non-null   int64
dtypes: float64(1), int64(26), object(15)
memory usage: 2.3+ MB

In [ ]:
# analisis de top

evalEs_df.head(5)

,Folio,Mecanismo_lesion,Naturaleza_enfermedad,CalleServicio,CalleServicio1,CalleServicio2,ColoniaServicio,MunicipioServicio,EstadoServicio,Ocurrencia,...,CinturonSeguridad,DentroVehiculo,Eyectado,Atropellado,AtropelladoVehiculo,AtropelladoAutoMotor,AtropelladoMoto,AtropelladoBicicleta,AtropelladoMaquinaria,C
0,176258,NaN,MUSCULO ESQUELETICO,YIJU,NaN,AGIGANDU E/ KAYIJIT,FRACCIONAMIENTO CALAFIA,LA PAZ,BAJA CALIFORNIA SUR,HOGAR,...,0,1,0,0,NaN,0,NaN,0,0,1
1,176259,NaN,METABOLICO,CARDON,CIRIO,TORONJA,INDECO,LA PAZ,BAJA CALIFORNIA SUR,HOGAR,...,0,0,0,0,NaN,0,NaN,0,0,1
2,176272,NaN,COGNITIVO EMOCIONAL,ALMEJA,NaN,PELICANO,BALANDRA,LA PAZ,BAJA CALIFORNIA SUR,HOGAR,...,0,0,0,0,NaN,0,NaN,0,0,1
3,176276,AUTOMOTOR,NaN,CARRETERA AL NORTE Y LAS AMERICAS KM 14,NaN,NaN,NaN,COMONDU,BAJA CALIFORNIA SUR,CARRETERA,...,1,0,0,0,NaN,0,NaN,0,0,1
4,176277,SUSTANCIA TOXICA,NaN,AV UNIVERSIDAD Y CALANDRIO,GACELAS,RENOS,EL CALANDRIO,LA PAZ,BAJA CALIFORNIA SUR,CENTRO DE SALUD,...,0,0,0,0,NaN,0,NaN,0,0,1

In [ ]:
#Borramos columnas que no dan valor al analisis
borra_eval_list={
    "CalleServicio",
    "CalleServicio1",
    "CalleServicio2",
    "Ocurrencia"
}
evalEs_df.drop(columns=borra_eval_list, inplace=True)

In [ ]:
evalEs_df.head(3)

,Folio,Mecanismo_lesion,Naturaleza_enfermedad,ColoniaServicio,MunicipioServicio,EstadoServicio,Colision,Volcadura,TipoVehiculo,AutoMotor,...,CinturonSeguridad,DentroVehiculo,Eyectado,Atropellado,AtropelladoVehiculo,AtropelladoAutoMotor,AtropelladoMoto,AtropelladoBicicleta,AtropelladoMaquinaria,C
0,176258,NaN,MUSCULO ESQUELETICO,FRACCIONAMIENTO CALAFIA,LA PAZ,BAJA CALIFORNIA SUR,0,0,NaN,0,...,0,1,0,0,NaN,0,NaN,0,0,1
1,176259,NaN,METABOLICO,INDECO,LA PAZ,BAJA CALIFORNIA SUR,0,0,NaN,0,...,0,0,0,0,NaN,0,NaN,0,0,1
2,176272,NaN,COGNITIVO EMOCIONAL,BALANDRA,LA PAZ,BAJA CALIFORNIA SUR,0,0,NaN,0,...,0,0,0,0,NaN,0,NaN,0,0,1

In [ ]:
# limpamos datos
evalEs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Folio                   7046 non-null   int64
 1   Mecanismo_lesion        1803 non-null   object
 2   Naturaleza_enfermedad   3849 non-null   object
 3   ColoniaServicio         6021 non-null   object
 4   MunicipioServicio       6802 non-null   object
 5   EstadoServicio          7046 non-null   object
 6   Colision                7046 non-null   int64
 7   Volcadura               7046 non-null   int64
 8   TipoVehiculo            843 non-null    object
 9   AutoMotor               7046 non-null   int64
 10  Motocicleta             7046 non-null   int64
 11  Bicicleta               7046 non-null   int64
 12  Maquinaria              7046 non-null   int64
 13  TipoColision            699 non-null    object
 14  ContraObjetoFijo        7046 non-null   int64
 15  ContraObjetoMovimiento  7046 non-null   int64
 16  TipoImpacto             674 non-null    object
 17  ImpactoFrontral         7046 non-null   int64
 18  ImpactoPosterior        7046 non-null   int64
 19  ImpactoLateral          7046 non-null   int64
 20  Hundimiento             7046 non-null   int64
 21  Parabrisas              668 non-null    object
 22  ParabrisasIntegro       7046 non-null   int64
 23  ParabrisasRoto          7046 non-null   int64
 24  Volante                 649 non-null    object
 25  VolanteIntegro          7046 non-null   int64
 26  VolanteDoblado          7046 non-null   int64
 27  BolsaAire               7046 non-null   int64
 28  CinturonSeguridad       7046 non-null   int64
 29  DentroVehiculo          7046 non-null   int64
 30  Eyectado                7046 non-null   int64
 31  Atropellado             7046 non-null   int64
 32  AtropelladoVehiculo     124 non-null    object
 33  AtropelladoAutoMotor    7046 non-null   int64
 34  AtropelladoMoto         0 non-null      float64
 35  AtropelladoBicicleta    7046 non-null   int64
 36  AtropelladoMaquinaria   7046 non-null   int64
 37  C                       7046 non-null   int64
dtypes: float64(1), int64(26), object(11)
memory usage: 2.0+ MB

In [ ]:
borra_eval_list={
    "TipoVehiculo",
    "TipoColision",
    "TipoImpacto",
    "Parabrisas",
    "Volante",
    "AtropelladoVehiculo",
    "AtropelladoMoto"
}
evalEs_df.drop(columns=borra_eval_list, inplace=True)

In [ ]:
evalEs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Folio                   7046 non-null   int64
 1   Mecanismo_lesion        1803 non-null   object
 2   Naturaleza_enfermedad   3849 non-null   object
 3   ColoniaServicio         6021 non-null   object
 4   MunicipioServicio       6802 non-null   object
 5   EstadoServicio          7046 non-null   object
 6   Colision                7046 non-null   int64
 7   Volcadura               7046 non-null   int64
 8   AutoMotor               7046 non-null   int64
 9   Motocicleta             7046 non-null   int64
 10  Bicicleta               7046 non-null   int64
 11  Maquinaria              7046 non-null   int64
 12  ContraObjetoFijo        7046 non-null   int64
 13  ContraObjetoMovimiento  7046 non-null   int64
 14  ImpactoFrontral         7046 non-null   int64
 15  ImpactoPosterior        7046 non-null   int64
 16  ImpactoLateral          7046 non-null   int64
 17  Hundimiento             7046 non-null   int64
 18  ParabrisasIntegro       7046 non-null   int64
 19  ParabrisasRoto          7046 non-null   int64
 20  VolanteIntegro          7046 non-null   int64
 21  VolanteDoblado          7046 non-null   int64
 22  BolsaAire               7046 non-null   int64
 23  CinturonSeguridad       7046 non-null   int64
 24  DentroVehiculo          7046 non-null   int64
 25  Eyectado                7046 non-null   int64
 26  Atropellado             7046 non-null   int64
 27  AtropelladoAutoMotor    7046 non-null   int64
 28  AtropelladoBicicleta    7046 non-null   int64
 29  AtropelladoMaquinaria   7046 non-null   int64
 30  C                       7046 non-null   int64
dtypes: int64(26), object(5)
memory usage: 1.7+ MB

In [ ]:
#Llenamos información nula

#Mecanismo_lesion
evalEs_df["Mecanismo_lesion"].fillna("DESCONOCIDO", inplace=True)

#Naturaleza_enfermedad
evalEs_df["Naturaleza_enfermedad"].fillna("DESCONOCIDO", inplace=True)

#ColoniaServicio
evalEs_df["ColoniaServicio"].fillna("DESCONOCIDO", inplace=True)

#MunicipioServicio
evalEs_df["MunicipioServicio"].fillna("DESCONOCIDO", inplace=True)

In [ ]:
evalEs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Folio                   7046 non-null   int64
 1   Mecanismo_lesion        7046 non-null   object
 2   Naturaleza_enfermedad   7046 non-null   object
 3   ColoniaServicio         7046 non-null   object
 4   MunicipioServicio       7046 non-null   object
 5   EstadoServicio          7046 non-null   object
 6   Colision                7046 non-null   int64
 7   Volcadura               7046 non-null   int64
 8   AutoMotor               7046 non-null   int64
 9   Motocicleta             7046 non-null   int64
 10  Bicicleta               7046 non-null   int64
 11  Maquinaria              7046 non-null   int64
 12  ContraObjetoFijo        7046 non-null   int64
 13  ContraObjetoMovimiento  7046 non-null   int64
 14  ImpactoFrontral         7046 non-null   int64
 15  ImpactoPosterior        7046 non-null   int64
 16  ImpactoLateral          7046 non-null   int64
 17  Hundimiento             7046 non-null   int64
 18  ParabrisasIntegro       7046 non-null   int64
 19  ParabrisasRoto          7046 non-null   int64
 20  VolanteIntegro          7046 non-null   int64
 21  VolanteDoblado          7046 non-null   int64
 22  BolsaAire               7046 non-null   int64
 23  CinturonSeguridad       7046 non-null   int64
 24  DentroVehiculo          7046 non-null   int64
 25  Eyectado                7046 non-null   int64
 26  Atropellado             7046 non-null   int64
 27  AtropelladoAutoMotor    7046 non-null   int64
 28  AtropelladoBicicleta    7046 non-null   int64
 29  AtropelladoMaquinaria   7046 non-null   int64
 30  C                       7046 non-null   int64
dtypes: int64(26), object(5)
memory usage: 1.7+ MB

In [ ]:
#Guardamos una version limpia del archivo
evalEs_df.to_csv("01_eval_es_df.csv")

##Evaluación Inicial

La prioridad para el profesional de la asistencia prehospitalaria es la identificación y el tratamiento inmediatos de los problemas con **riesgo vital**.

La **evaluación inicial** o primaria es la encargada de identificar y solucionar estos problemas.

In [ ]:
eval_ini_df=pd.read_csv(evaluacion_inicial)

In [ ]:
eval_ini_df.head(5)

,folio,NivelConciencia,A_ViaAerea,A_ReflejoNauseoso,A_ManejoViaAerea,B_Observacion,B_Auscultacion,B_AuscultacionHemitorax,B_AuscultacionSitio,B_Ventilaciones,...,C_PulsoRitmo,C_PielColoracion,C_PielEstado,C_PerfusionDiaforesis,D_Pupilas,AmenazaLaVida,AmenazaLaVida_ViaAerea,AmenazaLaVida_Respiracion,AmenazaLaVida_Circulacion,C
0,176258,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,0,0,0,0,1
1,176259,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,0,0,0,0,1
2,176272,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,0,0,0,0,1
3,176276,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,0,0,0,0,1
4,176277,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,0,0,0,0,1

In [ ]:
eval_ini_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7046 entries, 0 to 7045
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   folio                      7046 non-null   int64
 1   NivelConciencia            7046 non-null   object
 2   A_ViaAerea                 7046 non-null   object
 3   A_ReflejoNauseoso          7046 non-null   object
 4   A_ManejoViaAerea           7046 non-null   object
 5   B_Observacion              7046 non-null   object
 6   B_Auscultacion             7046 non-null   object
 7   B_AuscultacionHemitorax    7046 non-null   object
 8   B_AuscultacionSitio        7046 non-null   object
 9   B_Ventilaciones            7046 non-null   object
 10  B_VentiladorFrecuancia     7046 non-null   int64
 11  B_VentiladorVolumen        7046 non-null   int64
 12  B_HiperVentilacion         7046 non-null   int64
 13  B_OxigenoTerapia           7046 non-null   object
 14  B_LTSXMIN                  7046 non-null   int64
 15  C_ControlHemorragias       7046 non-null   object
 16  C_Pulso                    7046 non-null   object
 17  C_PulsoCalidad             7046 non-null   object
 18  C_PulsoRitmo               7046 non-null   object
 19  C_PielColoracion           7046 non-null   object
 20  C_PielEstado               7046 non-null   object
 21  C_PerfusionDiaforesis      7046 non-null   int64
 22  D_Pupilas                  7046 non-null   object
 23  AmenazaLaVida              7046 non-null   int64
 24  AmenazaLaVida_ViaAerea     7046 non-null   int64
 25  AmenazaLaVida_Respiracion  7046 non-null   int64
 26  AmenazaLaVida_Circulacion  7046 non-null   int64
 27  C                          7046 non-null   int64
dtypes: int64(11), object(17)
memory usage: 1.5+ MB

In [ ]:
eval_ini_df[eval_ini_df["AmenazaLaVida"]==1]

,folio,NivelConciencia,A_ViaAerea,A_ReflejoNauseoso,A_ManejoViaAerea,B_Observacion,B_Auscultacion,B_AuscultacionHemitorax,B_AuscultacionSitio,B_Ventilaciones,...,C_PulsoRitmo,C_PielColoracion,C_PielEstado,C_PerfusionDiaforesis,D_Pupilas,AmenazaLaVida,AmenazaLaVida_ViaAerea,AmenazaLaVida_Respiracion,AmenazaLaVida_Circulacion,C
35,176318,DOLOR,COMPROMETIDA,PRESENTE,ASPIRACION,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,1,1,0,0,1
40,176324,INCONCIENTE,COMPROMETIDA,PRESENTE,NINGUNO,SUPERFICIAL,DISMINUIDOS,AMBOS,AMBOS,NINGUNO,...,NINGUNO,CIANOTICA,FRIA,1,ISOCORICAS,1,1,1,1,1
45,176340,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO IRREGULAR,DISMINUIDOS,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,1,0,1,0,1
56,176358,DOLOR,COMPROMETIDA,PRESENTE,NINGUNO,SUPERFICIAL,DISMINUIDOS,DERECHO,BASE,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,ISOCORICAS,1,1,1,0,1
60,176362,VERBAL,COMPROMETIDA,PRESENTE,NINGUNO,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,PALIDO,FRIA,0,ISOCORICAS,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7026,4022102,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,SUPERFICIAL,DISMINUIDOS,AMBOS,AMBOS,NINGUNO,...,RITMICO,NORMAL,CALIENTE,0,MIOTICAS,1,0,1,0,1
7027,4022103,CONCIENTE,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO REGULAR,NORMALES,AMBOS,AMBOS,NINGUNO,...,RITMICO,PALIDO,FRIA,0,MIOTICAS,1,0,0,1,1
7028,4022104,VERBAL,PERMEABLE,PRESENTE,NINGUNO,AUTOMATISMO IRREGULAR,DISMINUIDOS,AMBOS,AMBOS,NINGUNO,...,RITMICO,PALIDO,FRIA,0,ISOCORICAS,1,0,1,1,1
7037,4022113,INCONCIENTE,PERMEABLE,AUSENTE,NINGUNO,SUPERFICIAL,DISMINUIDOS,AMBOS,AMBOS,NINGUNO,...,RITMICO,PALIDO,FRIA,0,MIDRIATICAS,1,0,1,1,1
7040,4022116,INCONCIENTE,COMPROMETIDA,PRESENTE,NINGUNO,APNEA,AUSENTES,AMBOS,AMBOS,NINGUNO,...,RITMICO,CIANOTICA,FRIA,0,ISOCORICAS,1,1,1,1,1